<!DOCTYPE html>
<html lang="en"> 

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/barraScile.css">
        <link rel="stylesheet" href="/stylesheets/modalFooter.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <!--<script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>-->
        <link rel="https://fontawesome.com/">
        <title>Faustine</title>
        <!--<link rel="stylesheet" href="/stylesheets/style.css"-->
    </head>
 
    <body>
        <header class="header">
            <!--<div class="cointainer, logo-nav-container">-->  
           <!-- <div class="form" action="#" method="GET">-->
             <div class="barraBusqueda">
                 <form action="/bproduct/buscarPorBarra" method="GET">
                         <select name ="busca"  class="selectBuscaBarra">
                         <option value="">QUE ESTAS BUSCANDO ? </option>
                         <option value="all ">Todos los productos </option>
                         <option value="O ">OFERTAS de la SEMANA </option>
                         <% for (i=0 ; i < anios.length ; i++) { %>
                         <option  value = "Y <%= anios[i].id %>">AÑO:<%= anios[i].year_name %> </option>
                         <% } %> 
                        <% for (i=0 ; i < colecciones.length ; i++) { %>
                        <option value = "C <%= colecciones[i].id %>">COLECCION:<%= colecciones[i].colection_name %></option>
                        <% } %> 
                       
                        <% for (i=0 ; i < tipos.length ; i++) { %>
                        <option value = "T <%= tipos[i].id %>"> TIPO :<%=tipos[i].type_name %></option>
                        <% } %>
                        
                                
                         </select>
                         <button id="botonSearch" value="busca" type="submit" aria-placeholder="fa fa-search"><i class="fa fa-search"></i></button>
          
             </div>
                             
          
            <div class="logo-nav-container">
                <div class="Faustine">
                    <img  class="logoF" src="/images/LogoFaustine-header.jpg">
                    <h3> Faustine </h3>
                </div>
                
                <div class="imgs">
                 <a href= "/busers/login"><i class="fas fa-user-circle"></i></a>
               <!---  <a href= "/busers/list"><img id="saleLogo" src="/images/address-book-solid.svg"></a> -->                     
                 <a href= "/busers/cerrarSesion"><img id="saleLogo" src="/images/right-from-bracket-solid.svg"></a>                      
                 <a href= "/bproduct/carritoHome"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                 <!--<a href= "/bproduct/altaProduct"><i class="fas fa-file-alt"></i></a>-->
              <!---   <a href= "/bproduct/opciones">OPCIONES BASE DE DATOS </a> -->
                <!--- <a href= "/product/bajaProducto"><i class="fa-regular fa-trash-can"></i></a>-->
                <a href="/bproduct/opciones"><img id="borrarIcon" src="/images/trash-can-solid.svg"></a>
                 <a href= "/bproduct/ofertas"><img id="saleLogo" src="/images/icono.sale.png"></a>              
   
                </div>
            </div>
        </header>
  
        
    <body class="body1">

    <main>
      
<div class="slider">
	<div class="slide-track">
      <% for (i=4 ; i< 18 ; i++) { %>
		<div class="slide">
           <a href="/bproduct/detalle/<%= producto[i].id %>"><img id= "imgBarra" src="images/<%= producto[i].image_ppal %>"></a>
			<!--<img id="imgBarra" src="images/gucci.1.SinFondo.png" height="100" width="250" alt="" >-->
            <!--<img id="imgBarra" src="images/gucci.1.SinFondo.png">-->
		</div>
        <% } %>

	</div>
</div>


            <section class="productos">
            <!---    <div class="derecha">  -->
                    <div class="producto">
                         <div class="cajaGrande">
                            <a href="/bproduct/detalle/<%= producto[3].id %>"><img src="images/<%= producto[3].image_ppal %>" alt= "bolsos" class="bolsos1"></a>
                            <div class="cajaDetalle">
                                <h4><%= producto[3].name %> </h4>
                                <p id="titulo" ><%= producto[3].description %></p>
                                <br/>
                                <p>PRECIO : $<%= producto[3].price %></p>
                                <p id="oferta">Descuento: <%= producto[3].dto %> %</p>
                            </div>
                        </div>
                          <!---  <input type ="number "class="noSeVe" name="similaresTipo" value="<%=producto[3].pType.id %>" >-->
                            <h3><%= producto[3].pType.type_name %> <span><a href="/bproduct/listarProdType/<%= producto[3].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                     
                    </div>
                    <div class="producto">
                        <div class="cajaGrande">
                            <a href="bproduct/detalle/<%= producto[4].id %>"><img src="images/<%= producto[4].image_ppal %>" alt= "bandoleraCereza" class="carteras1"></a>
                            <div class="cajaDetalle">
                                <h4><%= producto[4].name %></h4>
                                <p id="titulo" ><%= producto[4].description %>"</p>
                                <br/>
                                <p>PRECIO : $ <%= producto[4].price %></p>
                                <p id="oferta">Descuento: <%= producto[4].dto %> %</p>
                            </div>
                        </div> 
                        <!--OJO CAMBIÉ EL PRODUCTO PARA QUE SALGA MEJOR LA IMAGEN-->
                        
                        <h3><%= producto[4].pType.type_name %><span><a href="/bproduct/listarProdType/<%=producto[4].pType.id%>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                       
                    </div>
                    
                <!--</div>-->
                <!--<div class="derecha"> -->
                    <div class="producto">
                        <div class="cajaGrande">
                                <a href="/bproduct/detalle/<%= producto[9].id %>"><img src="images/<%= producto[9].image_ppal %>" alt= "carteras" class="bandoleras1"></a>
                                <div class="cajaDetalle">
                                    <h4><%= producto[9].name %></h4>
                                    <p id="titulo" ><%= producto[10].description %></p>
                                    <br/>
                                    <p>PRECIO : $ <%= producto[9].price %></p>
                                    <p id="oferta">Descuento: <%= producto[9].dto %> %</p>
                                </div>       
                        </div>
                        <h3><%= producto[9].pType.type_name %><span><a href="/bproduct/listarProdType/<%= producto[6].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3> </h3>                         
                          
                    </div>
                <!-- </div>-->
               <!--- <div class ="derecha" >-->
                    <div class="producto">
                        <div class="cajaGrande">
                            <a href="bproduct/detalle/<%= producto[7].id %>"><img src="images/<%= producto[7].image_ppal %>" alt= "mochilas" class="mochilas1"></a>
                            <div class="cajaDetalle">
                                <h4><%= producto[7].name %> </h4>
                                <p id="titulo" ><%= producto[7].description %>"</p>
                                <br/>
                                <p>PRECIO : $ <%= producto[7].price %></p>
                                <p id="oferta">Descuento: <%= producto[7].dto %> %</p>
                            </div>
                        </div>   
                        <h3><%= producto[7].pType.type_name %><span><a href="/bproduct/listarProdType/<%= producto[7].pType.id %>"><i class="fas fa-arrow-alt-circle-right"></i></a></span></h3>    
                    </div> 
                                 
                <!--</div>  -->                        
            </section>
            <section>
                <div class="iconos">
 
                    <i id="distribucion" class="fas fa-truck-moving" size="1rem" ></i>
                    <i id="distribucion" class="fas fa-credit-card"></i>
                    <i id="distribucion" class="fas fa-money-bill-wave"></i>
 
                </div>
                <div class="modo-pago">
                    <a href="#" class="retail">Envios a todo el país</a>          
                    <p>Pago en cuotas</p>
                    <p>Pago por transferencia</p>
                </div>                
                 
            </section> 
            <section class="modalFooter ">
                <div class="modalFooter__container">
                    <!--<img src="images/modal.svg" class="modal__img"> -->
                    <h2 class="modalFooter__title">¡Optimice sus Costos ¡</h2>
                    <p class="modalFooter__paragraph"> Instrumentamos un sistema de distribución a fin de mejorar sus costos: DISTRIBUCIÓN STANDARD al mejor precio de Mercado, para lo cual solo deberá organizarse con los tiempos. NO OLVIDE CONSULTAR precios y tiempos a la hora de realizar el pedido. </p>
                    <a href="#" class="modalFooter__close">Cerrar Modal</a>
                </div>
            </section>                    
    </main>
         
     <footer>
        <%- include('partials/footer') %>
    <script src="js/retail.js"></script>   
    </body>
    
</html>